<div class="alert alert-info" role="alert" id="ac-alert">
    
</div>
<button type="button" class="btn btn-default btn-circle" data-dismiss="modal"><span class="fa fa-undo"></span></button>
<button id="ac-accept" type="button" class="btn btn-success btn-circle" data-dismiss="modal">
    <span class="fa fa-check"></span>
</button>
<script>
    ContractDetails.AcceptContractData('@ViewBag.Id')
</script>
