<style>
    input, textarea {
        max-width: none;
    }

    .btn-file {
        position: relative;
        overflow: hidden;
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            background: red;
            cursor: inherit;
            display: block;
        }

    input[readonly] {
        background-color: white !important;
        cursor: text !important;
    }
</style>
<div style="margin-bottom:105px">
    <div class="col-md-2">
        <div class="input-group">
            <span class="input-group-btn">
                <span class="btn btn-outline btn-primary btn-xs btn-file" id="scan2">
                    Выбрать файл <input type="file" accept=".pdf" id="scan">
                </span>
            </span>
        </div>
    </div>
    <div class="col-md-12">
        <h5 id="files" style="width:100%;" />
    </div>
    <div class="col-md-2" hidden>
        <div class="input-group" >
            <button class="btn btn-xs btn-default"  id="su-upload">Загрузить скан</button>
        </div>
    </div>
</div>

<script>
    $(document).on('change', '.btn-file :file', function () {
        var input = $(this),
            numFiles = input.get(0).files ? input.get(0).files.length : 1,
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        input.trigger('fileselect', [numFiles, label]);
    });
    $(document).ready(function () {
        $('#scan2 :file').on('fileselect', function (event, numFiles, label) {
            var tmppath = URL.createObjectURL(event.target.files[0]);
            $('#files').fadeIn('fast').text(label);
            $('#su-upload').closest('div .col-md-2').show();
            $('#su-upload').off().click(function () {
                var formData = new FormData();
                var opmlFile = $('#scan')[0];
                formData.append('scan', opmlFile.files[0]);
                NewInvocObject('/api/orderscans?id='+'@ViewBag.Id', formData, 7, '');
            })
        });
    })

</script>
